@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
body{
    background-color: #a0aecd;
    color: black;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    display: block;
    margin-top: 80px;
}
#patchnote{
    margin-top:35px;
    background-color: #a0aecd;
}
.card{
    background-color: #a0aecd;
    color: black;
    border: 2px solid black;
}
.fixed-bottom{
    background-color: #a0aecd;
    
}
/* @media screen and (max-width: 375px){
    .container{
        display: block;
        margin-top: 80px;
    }
    #patchnote{
        margin-top:35px;
    }
    
} */
@media screen and (max-width: 1080px){
    .container{
        display: block;
        margin-top: 80px;
    }
    #patchnote{
        margin-top:35px;
    }
    .icon{
        width: 35px;
        height: 35px;
    }
    
}
